#box1 {
    margin: 20px;
    padding: 15px;
    width: 15px;
    background-color: black;
    border: 5px;
    height: 250px;
}

#box2 {
    margin: 2px;
    padding: 15px;
    width: 15px;
    background-color: blue;
    border: 5px;
    height: 250px;
    
}